html(lang="en")
  head
    meta(charset="UTF-8")
    title AASDAS.COM Domain for Sale
    link(rel="stylesheet", href="main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    .center-container
      p.head.tc Its your lucky day, this domain is for sale
      .domain-name.tc Aasdas.com
    
      .form-outer.ca
        p.field-title.tc Don't leave me blank
        .ca
        form(action="email.php" method="post" id="contactForm" name="contactForm")
          input(type="text" placeholder="Enter your name" id="name" name="name" required)
          input(type="email" placeholder="Email ID" id="emailid" name="msg" required)
          input(type="number" placeholder="Bidding price > $199" id="bidvalue" name="bidvalue" required)
          textarea(type="text" placeholder="Any message(optional)" id="msg" name="msg")
          input.btn(type="submit" name="send" value="Send message") 
          
        
        
  
