html(lang="en")
  head
    meta(charset="UTF-8")
    title snapte.com Domain for Sale
    link(rel="stylesheet", href="main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    .center-container
      p.head.tc Its your lucky day, this domain is for sale
      .domain-name.tc snapte.com
    
      h2.tc contact: rittamdebnath@gmail.com
        
          
        
        
  
